<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./script.js"></script>
    <title>Counter App</title>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <h1>Counter: {{counter}} </h1>
        <button ng-click="increment()">Increment</button>
        <button ng-click="decrement()">Decrement</button>
    </div>
</body>
</html>